<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button id="ajaxBtn">Test AJAX</button>
    <div id="result"></div>

    <script>
      document.getElementById("ajaxBtn").addEventListener("click", function () {
        fetch("/test-ajax/")
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("result").innerText = data.status;
          });
      });
    </script>
  </body>
</html> -->


<!-- ajax.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Ajax Test</title>
</head>
<body>
    <h1>Testing ajax</h1>
    <h1>{{ status }}</h1>
</body>
</html>
